body {font-family: Arial, Helvetica, sans-serif;}

/* add a line after navbar */
.navbar{
  border-bottom: 2px solid black;
}

/* lightblue bg color for signup.html */
.lightblue-bg{
  background-color: lightblue;
}

/* login / sign up css */
/* Full-width input fields */
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Center the image */
.centerimg {
  text-align: center;
  margin: 20px 0 10px 0;
  position: relative;
}

img.logo {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none; /* hide by default */
  position: fixed; 
  z-index: 1; /* pop up on the screen */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* scroll if needed */
  background-color: rgba(0,0,0,0.5); 
  padding-top: 60px; /* so that screen doesnt pop up all the way on top */
}

/* Modal Content/Box */
.modal-content {
  background-color: white; 
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  /* border: 1px solid #888; */
  width: 80%; 
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: black;
  font-size: 50px;
}

.close:hover {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.padding{
  padding-left: 1%;
  padding-right: 1%;
}
.box{
  position: relative;
  text-align: center;
  color: white;
}
.boximg{
  width: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.virustext{
  font-size: 150%;
}


/* styles for shop */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 50%;
  }

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid blue;
}

.button1:hover {
  background-color: blue;
  color: white;
}

.flex{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

@media screen and (max-width: 1200px) {
  .flex{
    flex-direction: column;
  }
}

.indexstorenote{
  text-align: center;
  font-size: 70%;
}

/* styles for map */
.worldmap{
  font-size: 200%;
  text-align: center;
}

.map{
  text-align: center;
  padding: 2%;
}

.dev1 {
  margin: 0;
  display: flex;
  padding:2%;
  margin-bottom: 2rem;
}
.dev1 h3 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 400;
  color:black;
}
.dev1 p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  color:black;
}
/* The first <div> inside the module is empty, but will be “filled” with a background image */
.dev1 div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
/* The first div is given a “visual weight” of 1. As the second div is given a value of 2, it will always be twice as wide as the first by default */
.dev1 div:last-child {
  margin: 0.5rem;
  flex: 2;
}
/* The last paragraph inside the div is styled to have no margin-bottom, to ensure that it does not contribute to the height of the element */
.dev1 p:last-of-type {
  margin-bottom: 0;
}
/* The module elements are given their images via :first-of-type or nth-of-type pseudo-class selectors */
.dev1:first-of-type div:first-child {
  background-image: url("https://media.licdn.com/dms/image/C5603AQGNUzaJ61ci_w/profile-displayphoto-shrink_400_400/0/1659881684050?e=1678924800&v=beta&t=7CLd_g33ScmfrbFn3WcAzcBFaW7NBSoY7F3hRWT2USA");
  background-repeat: no-repeat;
  background-size: 38%;
}
/* Layout */
.dev1:nth-child(odd) {
  flex-direction: row;
}

@media all and (max-width: 600px) {
  .dev1 div { flex: 1; }
}
@media all and (max-width: 414px) {
  .dev1 { flex-direction: column; } 
  .dev1:nth-child(odd){
      flex-direction: column;
  }
  .dev1 div:first-child { min-height: 200px; }
}

.dev2 {
  margin: 0;
  display: flex;
  padding:2%;
  margin-bottom: 2rem;
}
.dev2 h3 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 400;
  color:black;
}
.dev2 p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  color:black;
}
/* The first <div> inside the module is empty, but will be “filled” with a background image */
.dev2 div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
/* The first div is given a “visual weight” of 1. As the second div is given a value of 2, it will always be twice as wide as the first by default */
.dev2 div:last-child {
  margin: 0.5rem;
  flex: 2;
}
/* The last paragraph inside the div is styled to have no margin-bottom, to ensure that it does not contribute to the height of the element */
.dev2 p:last-of-type {
  margin-bottom: 0;
}
/* The module elements are given their images via :first-of-type or nth-of-type pseudo-class selectors */
.dev2:first-of-type div:first-child {
  background-image: url("../images/Mahiru\ Shiina.jpeg");
  background-repeat: no-repeat;
  background-size: 40%;
}
/* Layout */
.dev2:nth-child(odd) {
  flex-direction: row;
}

@media all and (max-width: 600px) {
  .dev2 div { flex: 1; }
}
@media all and (max-width: 414px) {
  .dev2 { flex-direction: column; } 
  .dev2:nth-child(odd){
      flex-direction: column;
  }
  .dev2 div:first-child { min-height: 200px; }
}